{% extends 'base_layout.html' %}

{% block content %}
<br>
<br>
        <h1 align="center">Login</h1>
        <form class="site-form" action="{% url 'accounts:login' %}" method="post">
            <div align="center">
                {% csrf_token %} <br>
            {{form}} <br>
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            </div>
            <br>
            <br>
            <div align="center">
            <input type="submit" class="btn btn-primary" value="Login"> <br> <br>
                Not a user? Sign up <a href="{% url 'accounts:signup' %}">here</a>
            </div>
        </form>
<br>
<br>
{% endblock %}