{% load static from staticfiles %}
<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mini Project</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'gallery/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'gallery/css/custom.css' %}" >
    </head>
    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <div class="container">
            <a class="navbar-brand" href="/gallery/">LearnOmachine</a>
          </div>
            <ul class="list-unstyled">
                <li class="list-unstyled">
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <br>
                        <button class="btn btn-danger" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>

        <div class="wrapper">
            {% block content %}
            {% endblock %}
         <!-- Footer -->
        <footer class="py-5 bg-light">
          <div class="container">
            <p class="m-0 text-center"></p>
          </div>
          <!-- /.container -->
        </footer>

        <script src="{% static 'accounts/js/jquery.min.js' %}"></script>
        <script src="{% static 'accounts/js/popper.min.js' %}"></script>
        <script src="{% static 'accounts/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'accounts/js/custom.js' %}"></script>
    </body>
</html>